{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}


{% block title %}Login{% endblock %}

{% block content %}
    <section class="login-section">
        <div class="login-container">
            {% if messages %}
                <div class="error-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                <h2>Login</h2>
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" value="{{ form.username.value|default:'' }}" required>
                <input type="password" name="password" placeholder="Password" required>
                
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </section>
{% endblock %}
